h1{
  text-align: center;
  font-weight: lighter;
  font-size: 60px;
}
p{
  font-size: 22px;
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
}
.star2{
  color: #000066;
}
.overwatch{
  color: #b34700
}
#aboutme1 p{
  font-size: 27px;
  text-align: center;
  font-weight: lighter;
  border: 2px solid green;
  padding: 4px;
  margin: 21px;
}
#aboutme1 img{
  width: 30%;
  height: 30%;
  float: left;
}
#user img{
  width: 40%;
  height: 40%;
}
.index-bg{
  background-image: url("../images/indexGround.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.projects-bg{
  background-image: url("../images/project1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.whitefont{
  color: white;
}
.col-md-4{
  text-align: center;
}

li{
  font-size: 20px;
}
a{
  font-size: 20px;
  color: black;
}
